numpy
openai
packaging
torch==2.9.0
torch_npu==2.9.0
numpy==1.26.4
decorator
scipy
psutil
google
tvm
protobuf
tqdm
datasets
transformers
together
pytest
ninja
einops
pyyaml
setuptools

# pip3 install -i https://pkg.pjlab.org.cn/repository/pypi-proxy/simple/ --trusted-host pkg.pjlab.org.cn beautifulsoup4
 